<%- include('../templates/head.ejs', {titulo: 'TITULO'}) %>

<%- include('../templates/navbar.ejs') %> 

<div class="container p-4">
    <%- include('navbarAdmin.ejs')  %> 
</div>

<div class="container p-2">
    <a href="/skins/create" class="btn btn-primary btn-block text-white col-12">
        <i class="far fa-plus-square"></i> AÑADIR UNA NUEVA SKIN 
    </a>
</div>

<div class="container px-4">
    <div class="row">

        <div class="col-12">
            <a href="/"></a>
        </div>

        <% skins.forEach(skin => { %>
            
            <div class="col-md-4 my-2">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h5> <%= skin.categoria %> - <%= skin.nombre %> </h5>
                    </div>

                    <div class="card-body text-center">
                        <img src="<%= skin.foto %>" class="" style="width: 40%;">
                    
                        <h5 class=""> PRECIO: <%= skin.precio %>€ </h5>

                        <div class="d-flex justify-content-around flex-wrap">
                            <a href="/skins/delete/<%= skin.id_skin%>" class="btn btn-danger btn-block mx-2">
                                <i class="fas fa-trash"></i> ELIMINAR
                            </a>
                        
                            <a href="/skins/edit/<%= skin.id_skin%>" class="btn btn-warning btn-block mx-2 text-white">
                                <i class="fas fa-pencil-alt"></i> EDITAR 
                            </a>
                        </div>
                            
                    </div>
                </div>
            </div>

        <% }) %> 

    </div>
</div>

<%- include('../templates/footer.ejs') %> 