<%- include('templates/head.ejs', {titulo: 'TITULO'}) %> 

<%- include('templates/navbar.ejs') %> 

<% if(admin){  %>
    <div class="container p-3">
        <%- include('admin/navbarAdmin.ejs')  %> 
    </div>
<% } %> 

<div class="container my-3">
    <h1>Pagina de Inicio</h1>

    <div class="container">
        <%= usuario %>
    </div>
</div>
    
    
<%- include('templates/footer.ejs') %> 