<%- include('../templates/head.ejs', {titulo: 'TITULO'}) %>

<%- include('../templates/navbar.ejs') %> 

<div class="container px-md-5 py-md-3 p-sm-0">
    <div>
        <h2 class="fw-bold">1. DATOS USUARIO</h2>
        <div class="mx-5">

            <table>
                <tr>
                    <td class="tablaTD"><b> NOMBRE: </b></td>
                    <td class="text-primary">
                        <b>
                            <%= datosUser.nombre.toString().toUpperCase() %>
                            <%= datosUser.apellidos.toString().toUpperCase() %> 
                        </b>
                    </td>
                </tr>
                <tr>
                    <td class="tablaTD"><b> CORREO: </b></td>
                    <td class="text-primary">
                        <b> <%= datosUser.correo %> </b>
                    </td>
                </tr>
                <tr>
                    <td class="tablaTD"><b> DINERO: </b></td>
                    <td class="text-primary">
                        <b> <%= dinero %> $ </b> 
                    </td>
                </tr>
            </table>  

        </div>
    </div>

    <div>
        <h2 class="fw-bold">2. PRODUCTOS </h2>
        
        <% if(skins.length == 0) { %>
            <div class="text-muted mx-5 fs-1 fw-bold">
                SIN SKINS 
            </div>
        <% }else { %>
            <div class="row mx-md-5 mx-sm-0">

                <% skins.forEach(function (skin, i) { %>

                    <h5> VENDEDOR: <span class="text-muted"> <%= skin.vendedor %> </span></h5>
                    <div class="col-12 bg-dark text-white rounded my-2">
                        <div class="row d-flex justify-content-center align-items-center fw-bold">
                            <div class="col-1 "> <%= i + 1 %> </div>
                            
                            <div class="col-2">
                                <img src="<%= skin.foto %>"  alt="Error-photo" style="width: 10vw;">
                            </div>
                            
                            <div class="col-2"> <%= skin.categoria %> </div>
                            <div class="col-4"> <%= skin.nombre %> </div>
                            <div class="col-2 text-center"> <%= skin.precio %>$ </div>

                            <a href="/carrito/remove/<%= skin.id_carrito %>" class="col-1 btn btn-danger">
                                <i class="fas fa-times text-white"></i>
                            </a>
                        </div>

                    </div>  
                <% }); %>
            </div>
        <% } %>
    </div>

    <div>
        <h2 class="fw-bold">3. PAGO</h2>

        <div class="row mx-5 d-flex align-items-center">
            <table class="col-md-6 col-sm-12">
                <tr>
                    <td>
                        <b>DINERO: </b>
                    </td>
                    <td class="text-start">
                        <b class="text-primary"> <%= dinero %> $</b>
                    </td>
                </tr>
    
                <tr>
                    <td>
                        <b>IMPORTE TOTAL: </b>
                    </td>
                    <td class="text-start">
                        <b class="text-primary"> <%= precioTotal %> $</b>
                    </td>
                </tr>
    
                <tr>
                    <td class="">
                        <b>CUENTA: </b>
                    </td>
                    <td class="text-start">
                        <b id="dineroRestante"> <%= dinero - precioTotal%> $</b>
                    </td>
                </tr>
            </table>
    
            <div class="col-md-6 col-sm-12 my-2"> 
                <div class="row">
                    <a href="/dinero" class="btn btn-warning btn-block col-12">
                        AÑADIR FONDOS
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="me-5 mt-3">
        <a href="/carrito/pagar" class="btn btn-success btn-block col-12">
            PAGAR
        </a>
    </div>
</div>

<script src="/js/cambiarColorDinero.js"></script>

<%- include('../templates/footer.ejs') %> 