<%- include('../templates/head.ejs', {titulo: 'TITULO'}) %>

<%- include('../templates/navbar.ejs') %> 

<% if(admin){  %>
    <div class="container p-3">
        <%- include('../admin/navbarAdmin.ejs')  %> 
    </div>
<% } %> 

<div class="container px-5 py-3">
    <div>
        <h2>1. DATOS USUARIO:</h2>
        <div class="mx-5">

            <table>
                <tr>
                    <td class="tablaTD"><b> NOMBRE: </b></td>
                    <td class="text-primary">
                        <b>
                            <%= datosUser.nombre.toString().toUpperCase() %>
                            <%= datosUser.apellidos.toString().toUpperCase() %> 
                        </b>
                    </td>
                </tr>
                <tr>
                    <td class="tablaTD"><b> CORREO: </b></td>
                    <td class="text-primary">
                        <b> <%= datosUser.correo %> </b>
                    </td>
                </tr>
                <tr>
                    <td class="tablaTD"><b> DINERO: </b></td>
                    <td class="text-primary">
                        <b> <%= dinero %> $ </b> 
                    </td>
                </tr>
            </table>  

        </div>
    </div>

    <div>
        <h2>2. PRODUCTOS </h2>
        
        <div class="row mx-5">
            <% skins.forEach(function (skin, i) { %>

                <h5> VENDEDOR: <span class="text-muted"> <%= skin.vendedor %> </span></h5>
                <div class="col-12 d-flex align-items-center justify-content-between bg-dark text-white rounded my-2">
                    
                    <h5> <%= i + 1 %>  </h5>
                    <img src="<%= skin.foto %>" alt="" style="width: 10vw;">
                    <h5> <%= skin.categoria %> </h5>
                    <h5> <%= skin.nombre %> </h5>
                    <h5> <%= skin.precio %> $ </h5>
                    

                    <div class="btn btn-danger">
                        <a href="/carrito/remove/<%= skin.id_carrito %>">
                            <i class="fas fa-times text-white"></i>
                        </a>
                    </div>

                </div>  
            <% }); %>
        </div>
    </div>

    <div>
        <h2>3. PAGO</h2>

        <div class="row mx-5 d-flex align-items-center">
            <table class="col-md-6 col-sm-12">
                <tr>
                    <td class="">
                        <b>DINERO: </b>
                    </td>
                    <td>
                        <b class="text-primary"> <%= dinero %> $</b>
                    </td>
                </tr>
    
                <tr>
                    <td class="">
                        <b>IMPORTE TOTAL: </b>
                    </td>
                    <td>
                        <b class="text-primary"> <%= precioTotal %> $</b>
                    </td>
                </tr>
    
                <tr>
                    <td class="">
                        <b>CUENTA: </b>
                    </td>
                    <td>
                        <b id="dineroRestante"> <%= dinero - precioTotal%> $</b>
                    </td>
                </tr>
            </table>
    
            <div class="col-md-6 col-sm-12 my-2"> 
                <div class="row">
                    <a href="/dinero" class="btn btn-warning btn-block col-12">
                        AÑADIR FONDOS
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="me-5 mt-3">
        <a href="/carrito/pagar" class="btn btn-success btn-block col-12">
            PAGAR
        </a>
    </div>
</div>

<script src="/js/cambiarColorDinero.js"></script>

<%- include('../templates/footer.ejs') %> 